$fontWeight : 600;
$marginLeft : 2rem;

.navBar {
    .nav {
        .navContainer {
            .navBrand {
                margin-left: 4rem;
            }
            .navCollapse {
                .navClass {
                    margin-left: 13rem;
                    .navLink {
                        font-weight: $fontWeight;
                        margin-left: $marginLeft;
                    }
                    }
                    .navBtn {
                        margin-left: 10rem;
                        .headerBtn {
                            margin-left: $marginLeft;
                            width: 8rem;
                        }
                }
            }
        }
    }
    @media screen and (max-width:992px) {
        .nav {
            .navContainer {
                .navCollapse {
                    .navClass {
                        margin-left: 0rem;
                        .navLink {
                            font-weight: $fontWeight;
                            margin-left: 0;
                        }
                        }
                        .navBtn {
                            margin-left: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .headerBtn {
                                margin-left: 0;
                                margin:0.6rem;
                                width: 8rem;
                            }
                    }
                }
            }
        }
    }
}